body{
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
}
.nav {
    height: 40px;
    background-color: #aaa;
}
.nav ul li{
    position: relative;
    display: inline-block;
    margin-right: 40px;
    margin-top: 8px;
    font-size: 20px;
}
.nav ul li .hot{
    position: absolute;
    margin-top: -40px;
    margin-left: 60px;
    color: red;
}
.nav ul li a{
    text-decoration: none;
}

.nav ul li a:hover {
    color: #fff;
    background-color: #ddd;

}
.nav ul li .serach-button{
    border-radius: 10%;
}
table{
    border-collapse: collapse;
}
.table-head{
    background-color: #aaa;
    color: blue;
    border:1px solid red;
}

// .dropmenu{
//     position: relative;
// }
ul.dropdown li {
    display: block;
    position: absolute;
    border:1px solid #00F;
}