<!DOCTYPE html>
<html>
<head>
    <title>用户管理系统-添加</title>
</head>
<body>
    <form action="index.php?action=add" method="post">
        <p>员工编号:
            <input type="text" name="no" value=""></input>
        </p>
        <p>姓名:
            <input type="text" name="name" value=""></input>
        </p>
        <p>性别:
            <input name="sex" type="radio" value="男">男</input>
            <input name="sex" type="radio" value="女">女</input>
        </p>
        <p>年龄:
            <input type="text" name="age" value=""></input>
        </p>
        <p>简介:
            <textarea name="about"></textarea>
        </p>
        <input type="submit"></input>
    </form>
</body>
</html>